// Colors
$primary: #efa8e4;
$primary: #be79df;
$primary-light: #d299e9;
$primary-dark: #5f307e;

$black: #252322;
$grey: #605f5e;

$white:#fcfcfc;
$white-light: #fffcfe ;
$white-dark: #f0f0f0;


// Fonts
$font-primary: 'Rubik', sans-serif;

// Font sizes
$font-xl: 6.5rem;
$font-l: 5rem;
$font-s: 2.5rem;
$font-xs: 1.6rem;


// Margins sizes
$margin-xl: 15rem;
$margin-l: 10rem;
$margin-m: 5rem;
$margin-s: 3rem;
$margin-xs: 1.5rem;
