.card-skills {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border: 1px solid $white-dark;
  border-radius: 5px;
  background-color: $white-light;
  box-shadow: 1px 1px 7px rgba($white-dark,.4);
}

@media all and (max-width: 760px) {

  .card-skills {
    max-width: 40rem;
    min-width: 32rem;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
}
