.grid {
  margin: 0px auto;
  display: grid;

  grid-template-columns:
    [full-start] minmax(4rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(4rem, 1fr) [full-end];

  @include respond(tablet-port) {
    grid-template-columns:
    [full-start] minmax(2rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(2rem, 1fr) [full-end];
  }

  grid-template-rows: 20vh 80vh 15rem;

  @include respond(tablet-port) {
    grid-template-rows: 20% 70% 15rem;
  }
}
